@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1A1B41;
    --primary: #730071;
    --secondary: #FFCF56;

    --color-text: #BDD5EA;
    --color-subtext: #577399;

    --gradient__background: 
    {  
        /* global 92%+ browsers support */
        background: radial-gradient(ellipse at 20% -60%, rgba(115, 0, 113, 1) 5%, rgba(26, 27, 65, 1) 100%);
    }
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: var(--background)
  }
  a {
    color: unset;
    text-decoration: none;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}