@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #231942;
    --gradient-backround: radial-gradient(circle at 100% 8%, #502274 0%, #231942 100%);
    
    --primary-text: #C6CAED;
    --secondary-text: #ADA8BE;

    --primary: #A42CD6;
    --secondary: #F2AF29;

  }
}

@layer components {
  
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-around {
    @apply flex justify-around items-center;
  }
}